<div class="fixed-action-btn" id="floatnav">
  <a class="btn-floating btn-large red" style="width: 56px;border-radius: 50%">
    <i class="large material-icons">menu</i>
  </a>
  <ul>
    <li><a class="btn-floating red" href="#FAQ">FAQ</a></li>
    <li><a class="btn-floating red" href="#Apply">Apply Now</a></li>
    <li><a class="btn-floating red" href="#Schedule">Schedule</a></li>
    <li><a class="btn-floating red" href="#BHack">BHack</a></li>
    <li><a class="btn-floating red" href="#Offline">Offline</a></li>
    <li><a class="btn-floating red" href="#Online">Online</a></li>
    <li><a class="btn-floating red" href="#About">About</a></li>
  </ul>
</div>
<!-- <div class="fixed-action-btn">
	<a class="btn-floating btn-large"><img src="{{site.baseurl}}/assets/images/logos/logo.png"></a>
</div> -->
      